{% extends "chatbot/layout.html" %}
{% load static %}

{% block static %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'chatbot/index.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <div class="text-center my-4">
        <h1>Welcome to Iqra.ai</h1>
        <img class="landing-page-img" src="{% static 'landing-logo.png' %}" alt="Iqra.ai Logo" class="img-fluid">
        <div>
            <a class="btn-style" href="{% url 'register' %}" role="button">Get Started</a>
        </div>
    </div>
{% endblock %}