{% extends "chatbot/layout.html" %}
{% load static %}

{% block static %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'chatbot/instructions.css' %}" type="text/css">
{% endblock %}

{% block body %}

<div class="title">
    <h1>Welcome to IQRA.ai, {{ username }}!</h1>
</div>

<!-- Main Content Area -->
<div class="instructions-container">
    <!-- Container 1: Instructions -->
    <!-- Add your instructions bubble here -->
    <div class="instructions-bubble instructions-image">
        <h2>Instructions</h2>
        <h4> Here is how IQRA.ai works!</h4>
        <img src="{% static 'iqra-ai-instructions.jpeg' %}" alt="Instructions Diagram">
    </div>

    <!-- Container 2: Image -->
    <div class="instructions-bubble lessons-image">
        <h2>Your First level: Level A</h2>
        <img src="{% static 'Level_A.png' %}" alt="Level overview">
        <div class="lets-start">
            <h4>Let's start!</h4>
            <a href="{% url 'index' %}" class="start-lesson-btn">Start Lesson</a>
        </div>
    </div>
</div>
{% endblock %}
