.btn-style {
    background-color: #05605a;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.btn-style:hover {
    background-color:#e0e0e0;
    color: black;
}

.landing-page-img {
    max-width: 300px;
    margin-bottom: 40px;
    position: relative;
    right: 10px;
}