/* Import Font Dancing Script */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

/* Your existing CSS styles go here */
.title h1 {
    margin: 20px;
    text-align: center;
}

.instructions-container h2 {
    text-align: center;
}

.instructions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* Add your styles for the instructions bubble */
.instructions-bubble {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    padding: 20px;
    margin: 20px;
    max-width: 800px;
    width: 100%;
}

.instructions-bubble p {
    font-size: 18px;
    margin-bottom: 10px;
}

.instructions-bubble.start h4 {
    text-align: center;
}
.instructions-bubble ul {
    list-style-type: none;
    padding: 0;
}

.instructions-bubble li {
    font-size: 16px;
    margin-bottom: 5px;
}

.start-lesson-btn {
    display: inline-block;
    background-color: #05605aff; /* Dark Green */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.overview {
    text-align: center;
}

.lets-start {
    text-align: center;
}

.start-lesson-btn:hover {
    background-color: #05605aff; /* Darker Green on Hover */
}

.lessons-image img {
    max-width: 100%;
    height: auto;
}