.logo {
    width: 50px;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #05605aff;
    color: #fff;
    text-align: center;
    width: 100%;
}

.navbar-buttons a {
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 20px;
    padding: 10px 15px;
    background-color: #05605aff;
}

.navbar-buttons a:hover {
    background-color: #e0e0e0;
    color: #333;
}

.btn-style {
    background-color: #05605a;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    border-style: none;
}